.card{
    height: 647px;
    width: 100%;
    color: darkblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: medium;
    font-weight: bold;

}

.card > img{
    height: 70%;
}