.Header {
    height: 90px;
    width: 100%;
    background: darkblue;
    color: snow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 15%;
    padding-left: 15%;
}

.Header > a {
    text-decoration: none;
}

.name {
    font-size: 50px;
    font-weight: bold;
    color: white;

}

.moviesList {
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.search {
    position: relative;
    right: -234px;
    top: 22px;
}

.search > input {
    border: 4px solid blue;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    padding-left: 34px;
    font-size: 16px;} :focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
        }


.icon {
    cursor: pointer;
    height: 22px;
    width: 22px;
    opacity: 0.3;
    position: absolute;
    left: 6px;
    top: 6px
}

@media screen and (max-width: 768px) {
    .header {
        height: auto;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .name {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
}


@media screen and (min-width: 769px) and (max-width: 992px) {
    .name {
        font-size: 2.5rem;
    }
}


@media screen and (min-width: 993px) and (max-width: 1200px) {
    .name {
        font-size: 3rem;
    }
}


@media screen and (min-width: 1201px) and (max-width: 1440px) {
    .name {
        font-size: 3.5rem;
    }
}


@media screen and (min-width: 1441px) {
    .name {
        font-size: 4rem;
    }
}


